In [1]:
import csv
import ast
import numpy as np
import pandas as pd
np.random.seed(42)

In [12]:
quac = pd.read_csv("/home/willy/comp5214-groundedness-kgd/data/QuAC/quac_processed.csv")
wow = pd.read_csv("/home/willy/comp5214-groundedness-kgd/data/wizard_of_wikipedia/wow_processed.csv")
generated = pd.read_csv("/home/willy/comp5214-groundedness-kgd/data/generated_data/output_1_shot.csv")

In [ ]:
for i in range(10):
    output = generated.iloc[i]["output"]
    print(output)
    if output[-4:] == "</s>":
        print(output[6:-4])
    else:
        print(output[6:])
    print("---------------")

In [15]:
for data_wow, data_prompt in zip(wow, generated):
    print(data_wow)
    print(data_prompt)
    print("----------")

index
prompt
----------
topic
output
----------

In [18]:
new = pd.read_csv("/home/willy/comp5214-groundedness-kgd/data/processed_prompt/prompts_2_shot_new.csv")

In [19]:
new.iloc[0]

index                                                        0
topic                                            Elvis Presley
prompt       Context: Fibber McGee and Molly originated whe...
knowledge    Jailhouse Rock is a 1957 American musical dram...
round_nb                                                     4
gold          Wizard: I always liked "Hounddog." My grandpa...
message       Apprentice: I would love to tour his home.  W...
Name: 0, dtype: object

In [23]:
new.iloc[0]["message"][13:]

'I would love to tour his home.  Which one of his songs is your favorite?/'

In [24]:
new.iloc[0]["gold"][9:]

'I always liked "Hounddog." My grandpa heard Elvis sing it live in Memphis.'

In [27]:
new.iloc[0]["knowledge"]

'Jailhouse Rock is a 1957 American musical drama film directed by Richard Thorpe and starring Elvis Presley, Judy Tyler, and Mickey Shaughnessy.'

In [34]:
Q2_0 = pd.read_csv("/home/willy/comp5214-groundedness-kgd/data/Q2_run/Q2_0_shot.csv")

In [37]:
Q2_0.head(3)

,episode_idx,topic,round,message,response,knowledge,gold
0,0,Elvis Presley,4,I would love to tour his home. Which one of h...,Elvis Presley,Jailhouse Rock is a 1957 American musical dram...,"I always liked ""Hounddog."" My grandpa heard El..."
1,1,Ireland,3,"Exactly, do you know any thing about Island no...","Wizard: Yes, I know about Ireland.","The island has lush vegetation, a product of i...",There are lots of low-lying mountains in Irela...
2,2,Archery,3,And a great sport it is. Do you know where arc...,The Upper Paleolithic,"Based on indirect evidence, the bow seems to h...","It's a very old one, practiced for at least 10..."

In [42]:
Q2_0.iloc[0]["gold"]

'I always liked "Hounddog." My grandpa heard Elvis sing it live in Memphis.'

In [43]:
dodeca = pd.read_csv("/home/willy/comp5214-groundedness-kgd/data/Q2_baselines/dodeca_consistent.csv")

In [44]:
dodeca.head(3)

,Unnamed: 0,episode_idx,round,topic,message,response,knowledge,gold
0,0,0,0,Gardening,"I like Gardening, even when I've only been doi...",i love gardening as well . it is considered to...,Gardening is considered by many people to be a...,"I live on a farm, we garden all year long, it ..."
1,1,1,2,Bob Ross,yes I like to watch that some times,"it aired in the us , canada and latin america","He was the creator and host of ""The Joy of Pai...",The show aired from 1983 to 1994 on PBS.
2,2,4,1,Finance,Yes that's exactly the area of interest for me.,"well , there are three categories of finance :...",Finance can be broken into three sub-categorie...,"Great! There are three categories. The public,..."

In [2]:
import pandas as pd
q2_0 = pd.read_csv("/home/willy/comp5214-groundedness-kgd/data/Q2_run/Q2_0_shot.csv")
q2_1 = pd.read_csv("/home/willy/comp5214-groundedness-kgd/data/Q2_run/Q2_1_shot.csv")
q2_2 = pd.read_csv("/home/willy/comp5214-groundedness-kgd/data/Q2_run/Q2_2_shot.csv")

In [6]:
q2_0.iloc[67]["knowledge"]

nan

In [1]:
import pandas as pd

In [2]:
Q2_0 = pd.read_csv("/home/willy/comp5214-groundedness-kgd/data/Q2_run/Q2_0_shot.csv")
Q2_1 = pd.read_csv("/home/willy/comp5214-groundedness-kgd/data/Q2_run/Q2_1_shot.csv")
Q2_2 = pd.read_csv("/home/willy/comp5214-groundedness-kgd/data/Q2_run/Q2_2_shot.csv")
prompt_0 = pd.read_csv("/home/willy/comp5214-groundedness-kgd/data/processed_prompt/prompts_0_shot.csv")
prompt_1 = pd.read_csv("/home/willy/comp5214-groundedness-kgd/data/processed_prompt/prompts_1_shot.csv")
prompt_2 = pd.read_csv("/home/willy/comp5214-groundedness-kgd/data/processed_prompt/prompts_2_shot.csv")

In [4]:
prompt_0.iloc[67]

episode_idx                                                   67
topic                                                      Green
round                                                          3
message        wow! you know a lot about green. how did you l...
response       Apprentice: I learned about colors from my tea...
knowledge                                                    NaN
gold                The philosopher Nelson Goodman described it.
Name: 67, dtype: object

In [5]:
prompt_1.iloc[67]

episode_idx                                                   67
topic                                                      Green
round                                                          3
message        wow! you know a lot about green. how did you l...
response                                              Knocked Up
knowledge                                                    NaN
gold                The philosopher Nelson Goodman described it.
Name: 67, dtype: object

In [6]:
prompt_2.iloc[67]

episode_idx                                                   67
topic                                                      Green
round                                                          3
message        wow! you know a lot about green. how did you l...
response       Mark Cuban purchased a majority stake in the N...
knowledge                                                    NaN
gold                The philosopher Nelson Goodman described it.
Name: 67, dtype: object

In [7]:
import transformers

In [8]:
transformers.__version__

'4.12.2'

In [1]:
import transformers
transformers.__version__

'3.2.0'